DASHBOARD<br />
<%=message%>
<form action="/logout" method="POST">
  <input type="submit" value="Logout" />
</form>

<script>
  document.addEventListener("visibilitychange", function () {
    let time;
    if (document.hidden) {
      // start inactivity timeout
      function reload() {
        window.location = self.location.href;
      } //Reloads the current page
      time = setTimeout(reload, 43200000); //After 12 hours
    } else {
      clearTimeout(time);
    }
  });
</script>
