<center>
  <br />
  <h2>Login!</h2>
  <br />
  <%-include('_errors')%>
  <br />
  <br />
  <form action="/login/" method="POST">
    <div>Email:<br /><input type="text" name="email" /><br /><br /></div>
    <div>
      Password:<br /><input type="password" name="password" /><br /><br />
    </div>
    <div><input type="submit" value="Submit" /></div>
  </form>

  <br /><br />
  <a href="/">Register</a>
</center>
